html, body {
	font-family: 'BenjFont';
	src:url('~/WWW/fonts/BenjFont.woff') format('woff'),
		url('~/WWW/fonts/BenjFont.ttf') format('truetype'),
		url('~/WWW/fonts/BenjFont.eot');
	height: 100%;
	margin: 0;
	width: 100%;
}

img {
	border:5px solid #FFFFFF;
	display: block;
	margin: auto;
}
